<!DOCTYPE html>
{% extends 'myhtml/base.html'%}
{% block body_block %}
{%load staticfiles%}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/myfile.css'%}">
<h1 align="center" style="font-size:10px; color:green;">Find the right job on <a>jobportal</a> You are only few steps away from millions of jobs</h1>


</head>
<body>
<div align="center" style="font-size20px;">
    <div class="box">


        <a href="/fresher"><img src="static/images/fresher.png" title="click here" alt="sorry"></a>
        <br>
        <button style="background-color:orange;"> <a href="/fresher"style="color:white;">I Am Fresher</a></button>
        <p class="description">I have just graduated/I haven't worked after graduation</p>
    </div>
    <br>


    <div class="box">
       <a href="/professional"><img src="static/images/professional.png" title="click here" alt="sorry"></a>
        <br>
        <button style="background-color:orange;"><a href="/professional" style="color:white;">I have experience</a></button>
        <p class="description">I have at least 1 month of work experience</p>
    </div>
</div>
{% endblock %}
